<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_raz.Properties.Settings.ZaliczenieConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Zaliczenie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hotel_raz.Properties.Settings.ZaliczenieConnectionString1"
            connectionString="Data Source=ABCD;Initial Catalog=Zaliczenie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>